<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 <context:component-scan base-package="com.mphasis.firstspringapp.service"/>
	<!--  <bean id="greetService"
	class="com.mphasis.firstspringapp.service.GreetService "
	scope = "singleton"  init-method="init" destroy-method="destroy">
	<constructor-arg value="Welcome to spring..."/>
    </bean> -->
    
    <bean id="mailServerConfig"
          class="com.mphasis.firstspringapp.service.MailServerConfig">
        <constructor-arg value="192.168.1.10"/>  
        <constructor-arg value="adminUser"/>     
        <constructor-arg value="secureToken123"/> 
    </bean>
    
    <bean id="em"
          class="com.mphasis.firstspringapp.service.EmailService">
        <constructor-arg ref ="mailServerConfig"/>   
    </bean>
    
      <bean id="orderService"
          class="com.mphasis.firstspringapp.service.OrderService" autowire="byType">
      <!--    <property name="emailService" ref="emailService"/> -->
    </bean>
    
   <!--   <bean id ="smsService" 
    class ="com.mphasis.firstspringapp.service.SMSService">
    <property name="emailService" ref="emailService"/>
 -->
	
	<bean id="engineService" class="com.mphasis.firstspringapp.service.EngineService">
    <constructor-arg value="V6"/>
    <constructor-arg value="600"/>
</bean>
 
<!-- Car Service Bean -->
<bean id="carService" class="com.mphasis.firstspringapp.service.CarService">
    <constructor-arg value="Audi"/>
    <constructor-arg ref="engineService"/>
    <constructor-arg value="2022"/>
</bean>
</beans>
 